body { background-color: #f1f7ff; }
#content form { margin-top: 20px; }
#content form button { width: 100%; }
#content { min-height: calc(100vh - 112px); }
.image-circle {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 10px auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ccc;
}
.btn-card { width: 49.5%; float: left; font-size: 0.9em; }
.btn-card:last-child { margin-left: 1%; }